<h1>Manage Users</h1>

  <ul id="userList">
    <% @users.each do |user| %>
      <li><%= user.email %> <%= link_to '', user, method: :delete, class: "glyphicon glyphicon-remove", title: "Delete this user", data: { confirm: 'Are you sure you want to delete this user?' } %></li>
    <% end %>
    <li><%= link_to 'Add New User', new_user_path, class: "btn btn-success" %></li>
  </ul>