<div class="row">
	<div class="listing-header">
		<%= listing.category_id %>
	</div>
	<table class="table">
		<tr>
			<td><strong>Standards</strong></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Product Description</strong></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Model Numbers</strong></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Listing Conditions</strong></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>Comments</strong></td>
			<td></td>
		</tr>
	</table>
</div>