<h1><%= link_to "<span class='glyphicon glyphicon-plus'></span> Add New Client".html_safe, new_client_path, class: "btn btn-success pull-right", title: "Add New Client", data: { toggle: "modal", load_remote: new_client_path } %>
  Active Clients</h1>
  <%= render 'list', object: @active_clients %>

<h1>Delisted Clients</h1>
  <%= render 'list', object: @delisted_clients %>

<%= render 'shared/modal' %>
