<h1>Active Clients</h1>
  <%= render 'list', object: @active_clients %>
<h1>Delisted Clients</h1>
  <%= render 'list', object: @delisted_clients %>
<br />
<%= link_to 'Add New Client', "#", class: "btn btn-success", data: { toggle: "modal", target: "#myModal" } %>

<!-- Add New Client Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-client-add">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Client</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>