<h1>Active Clients</h1>
  <%= render 'list', object: @active_clients %>
<h1>Delisted Clients</h1>
  <%= render 'list', object: @delisted_clients %>
<br />
<%= link_to 'Add New Client', new_client_path, class: "btn btn-success" %>
