<p><em>To keep historical records accurate, do not use this form to completely change facility locations. If the client has moved manufacturing to a new plant, simply mark this facility "inactive" and add the new facility separately.</em></p>
<%= render 'form' %>