@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, variables, etc. */

@mixin box_sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  //padding-bottom: 60px;
}

.panel-heading {
  font-size: 120%;
  font-weight: bold;
}

.center {
  text-align: center;
}

.pull-right {
  margin-left: 3px;
}

.glyphicon-remove {
  color: red;
}

.list-unstyled {
  margin-bottom: 0;
  li {
    overflow: auto;
    padding: 3px 0;
  }
}

.list-links {
  @extend .list-unstyled;
  a {
    color: black;
    display: block;
    background-color: #eee;
    padding: 5px;
    &:hover {
      color: black;
      background-color: #ccc;
      text-decoration: none;
    }
  }
}

.form-container {
  padding: 15px;
  margin: 20px auto;
  border: 3px solid #999;
  @include border-radius(25px);
  .form-heading, .checkbox, input[type=submit], button {
    margin-bottom: 10px;
  }
}

/* Modal dialogs */

.modal-dialog {
  //width: 80%;
}

.modal-content {
  @extend .form-container;
  input[type="checkbox"] {
    margin-left: 10px;
  }
  textarea {
    height: 100px;
  }
  input:not([type=checkbox]):not([type=submit]), textarea, select {
    @extend .form-control;
  }
}

.actions {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid #E5E5E5;
}

.modal-add {
  background-color: #c1fdc1;
}

.modal-edit {
  background-color: #ffc;
}

.modal-info {
  background-color: #DEFAFC;
}

/* Fix for Bootstrap modal scrollbar bug */

.modal, .modal-open {
  overflow-y: auto;
}

/* Header */

#header {
	border-bottom: 1px solid black;
	background-color: #c5e2f1;
  li {
    padding-left: 5px;
    padding-top: 20px;
    a {
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
    }
    ul li {
      padding-top: 0;
    }
  }
}

#logo {
  background: image-url("logo.png");
  background-repeat: no-repeat;
  height: 70px;
  padding-left: 225px;
  padding-top: 20px;
  margin-top: 15px;
  &:hover {
    background: image-url("logoseal.png");
    background-repeat: no-repeat;
  }
}
  
/* Footer */

#footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  background-color: #c5e2f1;
  color: #333;
  a {
    color: #00f;
  }
}

/* User authentication forms */

.form-auth {
  @extend .form-container;
  max-width: 450px;
  background-color: #ccc;
  .checkbox {
    font-weight: normal;
    margin-left: 20px;
  }
  .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* Client pages */

.delisted {
  font-weight: bold;
  color: red;
  font-size: x-large;
  text-transform: uppercase;
}

#client-info .row {
  margin-bottom: 10px;
}

#client-listings .listing-header {
  font-weight: bold;
  font-size: 110%;
  background-color: #eee;
  padding: 5px;
}

#client-listings td:first-child {
  font-weight: bold;
  width: 20%;
}

#active-facilities .row, #inactive-facilities .row {
  background-color: #eee;
  margin: 5px 0px;
  padding: 5px 0;
}

.facility-inactive-header {
  background-color: #fee;
  margin: 5px 0px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#inactive-facilities .row {
  border: 2px solid red;
}

#model-amendments, #facility-amendments {
  display: none;
}

/* Inspection pages */

#map-canvas {
  height: 500px;
}

/* Invoice pages */

#year-filter #caption {
  margin-top: 10px;
}

#month-tabs li {
  width: 8.3%;
  text-align: center;
}

#month-tabs a {
  font-variant: small-caps;
  font-size: 120%;
  font-weight: bold;
}

#month-content {
  border-bottom: 5px solid #ddd;
}

