@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

header {
	border-bottom: 1px solid black;
	background-color: #c5e2f1;
	padding-bottom: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;
  color: blue;
  &:hover {
    text-decoration: none;
    color: blue;
  }
}