@import "bootstrap";

/* Mixins, variables, etc. */

@mixin box_sizing {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  padding-bottom: 60px;
}

h1 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  border-bottom: 3px solid #eee;
}

.center {
  text-align: center;
}

.list-plain {
  list-style: none;
  margin: 10px;
  padding: 0;
  li {
    overflow: auto;
    padding: 3px 0;
  }
}

.list-links {
  @extend .list-plain;
  a {
    color: black;
    display: block;
    background-color: #eee;
    padding: 10px;
    &:hover {
      color: black;
      background-color: #ccc;
      text-decoration: none;
    }
  }
}

.form-container {
  padding: 15px;
  margin: 20px auto;
  border: 3px solid #999;
  @include border-radius(25px);
  .form-heading, .checkbox, input[type=submit], button {
    margin-bottom: 10px;
  }
}

.modal-content {
  @extend .form-container;
  input[type="checkbox"] {
    margin-left: 10px;
  }
  textarea {
    height: 100px;
  }
  input:not([type=checkbox]):not([type=submit]), textarea, select {
    @extend .form-control;
  }
}

.modal-add {
  background-color: #c1fdc1;
}

.modal-edit {
  background-color: #ffc;
}

.modal-info {
  background-color: #DEFAFC;
}

/* Fix for Bootstrap modal scrollbar bug */

.modal, .modal-open {
  overflow-y: auto;
}

/* Header */

#header {
	border-bottom: 1px solid black;
	background-color: #c5e2f1;
  li {
    padding-left: 5px;
    padding-top: 20px;
    a {
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

#logo {
  background: image-url("logo.png");
  background-repeat: no-repeat;
  height: 70px;
  padding-left: 225px;
  padding-top: 20px;
  margin-top: 15px;
  &:hover {
    background: image-url("logoseal.png");
    background-repeat: no-repeat;
  }
}
  
/* Footer */

#footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  background-color: #c5e2f1;
  color: #333;
  a {
    color: #00f;
  }
}

/* User authentication forms */

.form-auth {
  @extend .form-container;
  max-width: 450px;
  background-color: #ccc;
  .checkbox {
    font-weight: normal;
    margin-left: 20px;
  }
  .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* Client pages */

.form-client, .modal-client {
  @extend .form-container;
  input[type="checkbox"] {
    margin-left: 10px;
  }
  textarea {
    height: 100px;
  }
  input:not([type=checkbox]):not([type=submit]), textarea, select {
    @extend .form-control;
  }
}

.form-client-add, .modal-client-add {
  @extend .form-client;
  background-color: #c1fdc1;
}

.form-client-edit, .modal-client-edit {
  @extend .form-client;
  background-color: #ffc;
}

.modal-dialog {
  width: 80%;
}

#client-info .row {
  margin-bottom: 10px;
}

.delisted {
  font-weight:bold;
  color:red;
  font-size:x-large;
  text-transform: uppercase;
}

/* Invoice pages */

#year-filter #caption {
  margin-top: 10px;
}

#month-tabs a {
  font-variant: small-caps;
  font-size: 120%;
  font-weight: bold;
}

#month-content {
  border-bottom: 5px solid #ddd;
}
