<p><em>Changes here will appear in every category and listing that reference this standard! To have different versions (e.g. different sections of a standard), create a separate record.</em></p>
<%= render 'form' %>