<p>Once I have scopes and clients set up and connected, this modal will show all the scopes this standard belongs to, and which clients have that scope in their listing.</p>
  <div class="actions">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>
