<%= label_tag "Categories Containing This Standard" %>
<ul class="list-plain">
	<% @standard.categories.each do |category| %>
		<li><%= category.with_scheme %></li>
	<% end %>
</ul>
<br />
<%= label_tag "Clients Listing to This Standard" %>
<ul class="list-links">
	<% @standard.listings.each do |listing| %>
		<li><%= link_to raw("<strong>#{listing.client.name}</strong> (#{listing.client.listing_number})"), listing.client %></li>
	<% end %>
</ul>
<br />
<div class="actions">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
