<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Data Tracker", root_path, id: "logo", class:"navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<% if user_signed_in? %>
          <li class="navbar-text">Signed in as <%= current_user.email %>.</li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-btn btn btn-primary btn-xs" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>