<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "TEi-LS Data Tracker", root_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
          <li class="navbar-text">Signed in as [user].
          <button class="navbar-btn btn btn-primary">Sign Out</button></li>
      </ul>
    </nav>
  </div>
</header>